[Unit]
Description=Configure container permissions

Requires=securemount.service
Wants=dobby.service wpeframework.service
Before=wpeframework.service
After=securemount.service ermgr.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/lib/rdk/container_setup.sh'

[Install]
WantedBy=multi-user.target
