#######################################
# RDM Cleanup Service
# Executes RDM Cleanup script
#######################################

[Unit]
Description=Co-pilot RDM Cleanup
After=swupdate.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/lib/rdk/copilot-cleanup.sh'

[Install]
WantedBy=multi-user.target
