[Unit]
Description=DOCSIS IP Connectivity

[Service]
#PathExists=/tmp/estb_ipv6
Type=simple
EnvironmentFile=/etc/device.properties
ExecStartPre=-/bin/sh -c '/lib/rdk/dibbler_start_pre.sh'
ExecStart=-/usr/sbin/dibbler-client start
ExecStartPost=-/bin/sh -c '/lib/rdk/dibbler_start_post.sh'
TimeoutStartSec=30s
Restart=always


