[Unit]
Description=DOCSIS IP Connectivity
After=moca.service

[Service]
Type=forking
EnvironmentFile=/etc/device.properties
ExecStart=-/bin/sh -c '/lib/rdk/dibbler_start_client.sh'
TimeoutStartSec=30s
Restart=always
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
