# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2016 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=DOCSIS IP Connectivity

[Service]
#PathExists=/tmp/estb_ipv6
Type=simple
EnvironmentFile=/etc/device.properties
ExecStartPre=-/bin/sh -c '/lib/rdk/dibbler_start_pre.sh'
ExecStart=-/usr/sbin/dibbler-client start
ExecStartPost=-/bin/sh -c '/lib/rdk/dibbler_start_post.sh'
TimeoutStartSec=30s
Restart=always


