# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2018 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=Harddisk Checkup Service
After=opt.mount tmp.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/lib/rdk/disk_init start
ExecReload=/lib/rdk/disk_init restart
ExecStop=/lib/rdk/disk_init stop

[Install]
WantedBy=local-fs.target
