# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2016 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=eMMC Diagnostics

After=tr69hostif.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/lib/rdk/emmc_health_diag.sh "bootup"'
ExecStart=/bin/sh -c '/lib/rdk/emmc_debug_launcher.sh'

