##############################################################################
# If not stated otherwise in this file or this component's LICENSE file the
# following copyright and licenses apply:
#
# Copyright 2020 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##############################################################################

[Unit]
Description=Cleans up Gstreamer Registry

After=local-fs.target nvram.service network-online.target
Before=swupdate.service
Requires=network-online.target

[Service]
Type=oneshot
Environment="CDLFILE=$(cat /opt/cdl_flashed_file_name)"
Environment="PREV_CDLFILE=$(cat /opt/previous_flashed_file_name)"
ExecStart=-/bin/sh -c 'if [[ ${CDLFILE} != *"${PREV_CDLFILE}"* ]]; then echo "Removing gstreamer registry on bootup after CDL"; rm /opt/.gstreamer/registry.bin; else echo "gstreamer registry is not removed, previous reboot is not due to CDL"; fi'

[Install]
WantedBy=multi-user.target
