# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2018 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=Cleans up Gstreamer Registry

After=local-fs.target nvram.service network-online.target
Before=swupdate.service
Requires=network-online.target

[Service]
Type=oneshot
Environment="CDLFILE=$(cat /opt/cdl_flashed_file_name)"
Environment="PREV_CDLFILE=$(cat /opt/previous_flashed_file_name)"
ExecStart=-/bin/sh -c 'if [[ ${CDLFILE} != *"${PREV_CDLFILE}"* ]]; then echo "Removing gstreamer registry on bootup after CDL"; rm /opt/.gstreamer/registry.bin; else echo "gstreamer registry is not removed, previous reboot is not due to CDL"; fi'

[Install]
WantedBy=multi-user.target
