# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2016 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=Set up static values used by html diagnostics
Wants=network-online.target
After=network-online.target
After=moca.service xre-receiver.service
Requires=moca.service

[Service]
Type=forking
ExecStart=/bin/sh -c '/lib/rdk/htmlDiagPreSetup.sh &'

[Install]
WantedBy=multi-user.target
