# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2018 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=OOPS Dump service
After=local-fs.target
Requires=local-fs.target

[Service]
ExecStart=/lib/rdk/ubifs-node-setup
Type=oneshot
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
