# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2016 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=Ping Telemetry Service
After=local-fs.target network-online.target

[Service]
Type=forking
ExecStartPre=/bin/sh -c '/lib/rdk/ping-telemetry-monitor.sh setcron'
ExecStart=/bin/sh -c '/lib/rdk/ping-telemetry.sh &'
