# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2016 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=STB Power State Monitor

After=pwrmgr.service

[Service]
Type=forking
SyslogIdentifier="pwr-state-monitor"
ExecStart=/bin/sh -c '/usr/bin/pwr-state-monitor &'
Restart=always

[Install]
WantedBy=multi-user.target
