# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2016 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=Software Update Service

After=local-fs.target nvram.service previous-log-backup.service network-online.target dcm-log.service systemd-timesyncd.service tr69hostif.service
Requires=network-online.target 

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c '/bin/touch /opt/logs/swupdate.log'
ExecStart=/bin/sh -c '/lib/rdk/swupdate_utility.sh > /opt/logs/swupdate.log &'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
