# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2016 RDK Management, LLC. All rights reserved.
# ============================================================================

[Unit]
Description=Disable USB Input Devices
After=var-lib.mount
Requires=var-lib.mount

[Service]
Type=oneshot
SyslogIdentifier=usb-input
ExecStart=/lib/rdk/disableInputUSBDevices.sh %i
