[Unit]
Description=Emmc Checkup Service
After=opt.mount tmp.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/echo "Running disk checkup service"

[Install]
WantedBy=local-fs.target

